body {
  font-family: Sans-Serif;
}

.container {
  min-width: 749px;
  min-height: 329px;
  background: #ddd;
  margin: 5px;
}

svg {
  background: #fff;
  padding: 10px;
  margin: 20px;
}

path {
  fill: none;
  stroke: black;
}


/* from https://bl.ocks.org/mbostock/1134768 */

.axis text {
  font: 14px sans-serif;
}

.graph-holder {
  height: 300px;
  margin: 95px 20px 20px 20px;
}

.axis line,
.axis path {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.axis--x path {
  /*display: none;*/
}

.axis--x .tick line,
.axis--x path {
  stroke: none;
}

.axis--y .tick line {
  stroke: #ccc;
}

.uk-average {
  stroke: #406;
  stroke-width: 2;
}

.tick line {
  stroke: none;
}

.nav {
  display: flex;
}

.btn {
  display: flex;
  cursor: pointer;
  font-family: Arial;
  font-size: 17px;
  padding: 16px 31px;
  margin-right: 10px;
}




